beautifulsoup4==4.13.3
fitz==0.0.1.dev2
goose3==3.1.19
groq==0.18.0
nest_asyncio==1.6.0
nltk==3.9.1
openai==1.62.0
pandas==2.2.3
pdfplumber==0.11.5
Pillow==11.1.0
pytesseract==0.3.13
python-telegram-bot==21.10
Requests==2.32.3
selenium==4.28.1
streamlit==1.41.1
streamlit_lottie==0.0.5
streamlit_option_menu==0.4.0
summa==1.2.0
undetected_chromedriver==3.5.5
validators==0.34.0
webdriver_manager==4.0.2
distutils==
